body{
    width: 100%;
   height: 100vh;
}
.contenair{
   max-width: 700px;
   height: 570px;
   display: flex;
}
.triangle1{
    width: 300px;
    height: 300px;
    border:1px solide black;
    background:blue;
}
.triangle2{
    position: absolute;
    left: 180px;
    top: 200px;
    width: 200px;
    height: 200px;
    border: 1px solide black;
    background: red;
    z-index: 10px;
}
.triangle3{
    position: absolute;
    left: 330px;
    top: 350px;
    width: 100px;
    height: 100px;
    border: 1px solide black;
    background: black;
    z-index: 10px;
}
.triangle4{
    position: fixed;
    left: 600px;
    top: 350px;
    width: 100px;
    height: 100px;
    border: 1px solide black;
    background: green;
    z-index: 10px;
}